* {
  padding: 10px;
  margin: 20px;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  font-size: 16px;
  background-color: white;
  color: black;
}
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ht {
  font-size: 250%;
}

.darkMode {
  background-color: red;
  color: white;
  font-weight: bold;
}
